@import "~bootstrap/scss/bootstrap";
.App {
  // text-align: justify;
  width: 900px;
  padding: 123px 0px 40px 267px;
}
// .LowerBox{
//   align-items: 5%;
// }

.carousel-caption {
  color: black;
}

.carousel-indicators {
  position: absolute;
  color: black;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: none;
  justify-content: center;
  padding-left: 0; // override <ol> default
  // Use the .carousel-control's width as margin so we don't overlay those
  margin-right: $carousel-control-width;
  margin-left: $carousel-control-width;
  list-style: none;

  li {
    box-sizing: content-box;
    flex: auto;
    width: 10%;
    height: 60%;
    margin-right: $carousel-indicator-spacer;
    margin-left: $carousel-indicator-spacer;
    text-indent: -999px;
    cursor: pointer;
    background-color: black;
    background-clip: padding-box;
    // Use transparent borders to increase the hit area by 10px on top and bottom.
    border-top: $carousel-indicator-hit-area-height solid transparent;
    border-bottom: $carousel-indicator-hit-area-height solid transparent;
    opacity: 0.5;
    @include transition($carousel-indicator-transition);
  }

  .active {
    opacity: 1;
  }
}
.nav-tabs {
  border-bottom: $nav-tabs-border-width;
  width: 289px;

  .nav-item {
    margin-bottom: 0%;
  }

  .nav-link {
    border: $nav-tabs-border-width solid #ccc;
    color: grey;
    font-size: 11px;

    border-bottom: transparent;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus() {
      border-color: $nav-tabs-link-hover-border-color;
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}
.OuterBox {
  text-align: center;
  // align-items: center;
  // display: flex;
  width: 900px;
  height: 223px;
  border: 0.5px solid #ccc;
  border-left-width: 0.2px;
  border-bottom: hidden;
}
.CenterBox {
  text-align: center;
  // align-items: center;
  // display: flex;
  width: auto;
  height: 230px;
  border: 1px solid #ccc;
}
#Button3 {
  background-color: white;
  border-color: white;
  margin: 10px 0 20px 0;
}
.ItemBox {
  padding: 50px 0px 50px 5px;
  margin-bottom: 15px;
}
.ItemName {
  font-size: 11px;
}
.Price {
  font-size: 10px;
}
.checkbox {
  font-size: 11px;
}
.Title {
  font-size: 22px;
  width: 800px;
  letter-spacing: 1px;
  margin: 10px 0 20px 0;
}
.Image {
  width: 40%;
  height: auto;
}
// .ItemBox2 {
//   padding: 15px 10px 20px 25px;
//   margin-bottom: 15px;
// }
.carousel-inner {
  text-align: center;
  // align-items: center;
  display: flex;
  width: auto;
  height: 200px;
  // border: 1px solid #ccc;
}
.carousel-control-next-icon {
  filter: invert(1);
}
.carousel-control-next {
  width: 50px;
  height: 230px;
  padding-left: 12px;
}
.carousel-control-prev {
  width: 50px;
  height: 230px;
  padding-right: 12px;
}
.carousel-control-prev-icon {
  filter: invert(1);
}

.LowerBox {
  width: 899px;
  height: 52px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.Small_Image {
  width: 68px;
  height: auto;
  padding: 10px 10px 10px 10px;
}
.ADD_SELECT_LEFT {
  display: flex;
  height: 52px;
  width: 240px;
  align-items: center;
}
#SUMMARY {
  overflow: break-word;
  font-size: 10px;
  width: 200px;
  height: 36px;
}

#Selected_Items_Btn {
  margin: 13px 10px 10px 296px;
  font-size: 10px;
  border: none;
  text-decoration: underline solid rgb(0, 0, 0);
}
#Price {
  margin: 16px 0px 10px 0px;
  font-size: 13px;
  font-weight: 570;
}
#Add_To_Cart_Btn {
  // margin: 10px 20px;
  font-size: 13px;
  font-weight: 570;
  margin: 13px 10px 10px 20px;
  background-color: rgb(230, 114, 5);
  border-color: rgb(225, 3, 3);
}
.ADD_SELECTED_TO_CART {
  display: flex;
  width: 899px;
}
