.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.main-image {
  margin: 1px;
  width: 352px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
.imgHead {
  width: 40%;
}

.img {
  margin: 5px;
  width: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216);
}

.imgbuttons {
  background-origin: padding-box;

}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}